{% load static %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    {%if profile.employee_type == 'teacher'%}
    <li class="breadcrumb-item"><a href="/">Admin</a></li>

    {%elif profile.employee_type == 'professor'%}
    <li class="breadcrumb-item"><a href="/">Admin</a></li>

    {%endif%}
    <li class="breadcrumb-item active">Dashboard</li>

    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group">
            <a class="btn" href="#"><i class="icon-speech"></i></a>
            <a class="btn" href=""><i class="icon-graph"></i> &nbsp;Dashboard</a>
            <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
    </li>

    {% block breadcrumb %}
    {% endblock %}
</ol>